<%-include('../partials/head')%>

<%- include('../partials/navbar')%>
    <h2 class="text-center text-danger" style="margin: 30px 0 20px;"><%=post.title %></h2>
    <h3 class="text-center text-warning" style="margin: 20px 0;">Author: <%= post.author %></h3>
    <h4 class="text-center text-info" style="margin: 20px 0;">Category: <%= post.category %></h4>
    <p class="text-center text-dark" style="margin: 20px 100px;"><%= post.text %></p>
    
    
    <%-include('../partials/footer')%>
<div class="d-flex justify-content-center align-items-center">
    <div class="d-grid gap-2 d-md-flex justify-content-md-start" style="margin: 30px 0 0 10px;">
        <a href="/tweets/<%= post._id %>/editPost">
            <button type="button" class="btn btn-outline-warning me-md-2" >Edit Post</button></a>
        <form action="/tweets/<%=post._id%>?_method=DELETE" method="POST">
            <button class="btn btn-outline-danger">Delete</button>
        </form>
    </div>
</div>